body {
  background-color: #222831;
  color: #eeeeee;
  font-size: 2rem;
}
.todo-container {
  background-color: #2d4059;
  width: 80%;
  border-radius: 5vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.todo-li {
  width: 100vh;
  margin: 10px 5px;
  list-style: none;
  border: 1px solid #ff895d;
  border-radius: 10px;
  padding: 1.5vh;
}
