body {
  background-color: #222831;
  color: #eeeeee;
  font-size: 2rem;
  font-family: 'Aref Ruqaa Ink', serif;
  font-family: 'Signika Negative', sans-serif;
}
.todo-container {
  background-color: #2d4059;
  width: 80%;
  border-radius: 5vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.todo-li {
  width: 95%;
  margin: 10px 5px;
  list-style: none;
  border: 1px solid #ff895d;
  border-radius: 10px;
  padding: 1.5vh;
  display: flex;
  justify-content: space-between;
}
.title-container {
  width: auto;
}

.btn-container {
  width: 25%;
  text-align: right;
}

i {
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1.2vh;
  margin-right: 2vh;
}
.mark-btn {
  color: #88e1f2;
}
.edit-btn {
  color: #ffd082;
}
.delete-btn {
  color: #ff7c7c;
}
.edit-input{
  width: 50%;
  background-color: transparent;
  color: #ff895d;
  padding: 1.5vh;
  border-radius: 1.3vh;
  border: 1px solid #ff895d;
  font-size: 1.5rem;
}
button{
  background-color: transparent;
  padding: 2vh 4vh;
  font-size: 1.3rem;
  margin-right: 1.1vh;
  border-radius: 2vh;
  font-weight: 700;
}
.save-btn{
  color: #88e1f2;
  border: 1px solid #88e1f2;
}
.cancel-btn{
  color: #ff7c7c;
  border: 1px solid #ff7c7c;
}
